.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 550px;
  width: 500px;
  min-width: 330px;
  justify-content: center;
  align-items: center;
}