body {
	display: flex;
	justify-content: center;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.index {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

@media screen and (max-width: 67vh) {
	.app {
		width: 100vw;
	}
}

@media screen and (min-width: 67vh) {
	.app {
		height: 100vh;
	}
}

.app {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	aspect-ratio: 2/3;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 5%;
}
