<html>
    <head>

    </head>
    <body>
        <input id = "box1" placeholder = "Host"></input>
        <br>
        </br>
        <input id = "box2" placeholder = "Member #1"></input>
        <br>
        </br>
        <input id = "box3" placeholder = "Member #2"></input>
        <br>
        </br>
        <input id = "box4" placeholder = "Member #3"></input>
        <br>
        </br>
        <input id = "box5" placeholder = "Member #4"></input>
        <br>
        </br>
        <input id = "box6" placeholder = "Member #5"></input>
        <br>
        </br>
    </body>
</html>