.match-text {
    -webkit-text-fill-color: #FF5733;
    -webkit-text-stroke-color: white;
    font-size: 45px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}