.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.back {
    color: #F2C94C;
}

.dislike {
    color: #F16056;
}

.like {
    color: #89C092;
}

.superlike {
    color: #ADD8E6;
}