.logo {
    max-width: 10%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 10px;
}

.site {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}